body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    border-bottom: 5px solid #2c3fef;
}

svg:hover {
    fill: #2c3fef;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {

    color: #2c3fef;
}

.color-1 {
    color: #2c3fef;
}

.color-2 {
    background-color: #2c3fef;
    color: whitesmoke;
    padding: 0px 5px;
}
.color-3 {
    text-decoration: underline;
    text-decoration-color: #2c3fef;
}


.external-link {
    color: #2c3fef;
}

.external-link-2 {
    color: black;
    text-decoration: underline;
    font-weight: bold;
}

.external-link-2:hover {
    color: #2c3fef;
}

/* ANIMATION */



.fade-in {
    -webkit-animation: fadein 2s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s;
    /* Firefox < 16 */
    -ms-animation: fadein 2s;
    /* Internet Explorer */
    -o-animation: fadein 2s;
    /* Opera < 12.1 */
    animation: fadein 2s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


/* NAV */
nav {
    display: flex;
    justify-content: space-between;
    margin: 3rem;
}

nav .logo {
    font-weight: 900;
}

nav .links a {
    font-weight: 500;
}

nav .links a:first-child {
    margin-right: 20px;
}

nav>.icons>a>svg {
    height: 20px;
    width: 20px;
    vertical-align: middle;
}

nav>.icons>a:lnth-child(2)>svg {
    margin-bottom: 2px;
}

nav .icons a:first-child,
nav .icons a:nth-child(2) {
    margin-right: 20px;
}

/* MAIN */
main {
    margin: auto;
    width: 70%;
}

.basics {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
}

.basics div {
    padding: 1rem;
    max-width: 500px;
    margin-top: auto;
    margin-bottom: auto;
}

.button-link {
    background-color: #000009;
    padding: 0.9rem 2rem;
    border: none;
    border-radius: 5px;
    margin: 5px 10px 10px 0px;
}

.button-link:hover {
    background-color: #2c3fef;
}


.button-link a {
    font-weight: bolder;
    color: whitesmoke;
}

.basics>img {
    height: 400px;
    width: auto;
    max-width: 300px;
    margin: auto;
}

/* WORK */
.work {
    margin-top: 10rem;
    margin-bottom: 10rem;
    /* margin: auto; */
    margin-left: auto;
    margin-right: auto;
}

/* WORK */
.work-title {
    margin-bottom: 5rem;
}

h2 {
    text-align: center;
}

.projects {
    display: flex;
    align-content: flex-start;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
}

.project {
    margin: 1rem;
    width: 300px;
    height: auto;
    border-radius: 5px;
    min-height: 480px;
    position: relative;
    background-color: #f3f3f3;
    border: 1px solid #f3f3f3;
}

.project>button {
    position: absolute;
    bottom: 10px;
    left: 15px;
}

.project>img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 250px;
    background-color: #f3f3f3;
    width: 300px;
    object-fit: contain;
    object-fit: cover;
    object-position: top center;
}

.project-content {
    margin: 5px 15px 10px 15px;

}

.project-title {
    font-weight: 500;
    font-size: large;
    padding: 5px 5px 5px 0px;
}

.project-text>strong {
    font-size: large;
}


/* CONTACT */
.contact {
    margin: 5rem 0rem 10rem 0rem;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.contact-title {
    font-weight: 900;
    font-size: 80px;
    width: 50%;
}

.contact-content {
    text-align: left;
}

.contact-content>div {
    padding: 15px;
    vertical-align: middle;
}

.contact-content>div>a {
    font-size: 20px;
    margin-left: 20px;
    display: flex;
}

.contact-content>div>a>div {
    /* margin-bottom: 15px; */
}

.contact-content>div>a>svg {
    height: 24px;
    width: auto;
    margin-right: 20px;
}




/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {

    .basics,
    .contact {
        flex-direction: column;
    }
}

@media (max-width: 1000px) {
    .projects {
        flex-direction: column;
    }
}